
	<!-- TODO: HTML AUS AUFGABE2 HIERHER KOPIEREN UND DIE BEISPIEL-EINTRÄGE DER DISCOVERY-LISTE MIT DEN FOLGENDEN ZEILEN ERSETZEN -->

	<!DOCTYPE html>
	<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>GeoTagApp</title>
		<link rel='stylesheet' href='./stylesheets/style.css'/>
	</head>

	<body>

	<header>
		<div class="row">
			<div class="col-11">
				<img src="./images/location.png" width="100"
					 alt="an image of a map and location">

				<h1>GeoTagApp</h1>
				<nav>
					<a href="#">About</a> | <a href="#">Help</a> | <a
							href="/">Home</a>
				</nav>
				<div class="header"></div>
			</div>
		</div>
	</header>
	<div class="header"></div>


	<main>
		<div class="col-12">
			<section class="tagging">
				<h2 style="font-family:'Segoe UI'">Tagging</h2>

				<!-- ############### Aufgabe1a Form1 Start -->
				<form id="tag-form" action="/tagging" method="post">
					<fieldset>

						<legend style="font-family:'Gill Sans MT'; font-size:15px">Enter new GeoTag</legend>
						<label style="font-family:'Segoe UI'" for="latitude">latitude</label><br>
						<input type="text" id="latitude" name="latitude" placeholder="Beispiel Platzhalter"
							   required value="<%= lat %>"><br><br>
						<label style="font-family:'Segoe UI'" for="longitude">longitude</label><br>
						<input type="text" id="longitude" name="longitude" placeholder="Beispiel Platzhalter"
							   required value="<%= lon %>"<br><br>
						<label style="font-family:'Segoe UI'" for="name">name</label><br>
						<input type="text" id="name" name="name" placeholder="Beispiel Platzhalter" required maxlength="10"><br><br>
						<label style="font-family:'Segoe UI'" for="hashtag">hashtag</label><br>
						<input type="text" id="hashtag" name="hashtag" placeholder="Beispiel Platzhalter"
							   pattern="#[a-zA-Z]+" maxlength="11"><br><br>
						<input type="submit" value="Submit">
					</fieldset>

				</form>

			</section>

			<section class="discovery">
				<h2 style="font-family:'Segoe UI'">Discovery</h2>

				<!-- ############### Aufgabe1a Form2 Start -->
				<form id="filter-form" action="/discovery" method="post">
					<fieldset>
						<legend style="font-family: 'Gill Sans MT'; font-size: 15px">Filter by SearchTerm</legend>
						<label for="searchterm"></label>
						<input type="text" id="searchterm" name="searchterm" placeholder="Beispiel Platzhalter">
						<input type="hidden" id="hiddenlatitude" name="hiddenlatitude" value="<%= lat %>" >
						<input type="hidden" id="hiddenlongitude" name="hiddenlongitude" value="<%= lon %>">
						<input type="submit" value="Apply">
					</fieldset>

					<div class="row">
						<div class="col-12 taglist">
							<div class="taglist">
								<ul id="results">
									<% if (taglist !== undefined){ taglist.forEach(function(gtag) { %>
										<li><%= gtag.name %> ( <%= gtag.latitude %>,<%= gtag.longitude %>) <%= gtag.hashtag %> </li>
									<% }); }%>
								</ul>
							</div>


							<div class="tagmap">
								<img id="result-img" src="./images/mapview.jpg" alt="a map with locations"
								data-tags="JSON.stringify(taglist)"/>

								<div class="caption">Result map</div>
							</div>
						</div>
					</div>


				</form>
			</section>

		</div></main>

	<footer>
		<div class="row">
			<div class="col-11">
				<div span="2020 by LKIT">
					<div class="sub">2020 by LKIT</div>
				</div>
			</div></div></footer>

	<!-- Load JavaScripts
        ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script src="./javascripts/geotagging.js"></script>

	</body>
	</html>
